@media (max-width: 1400px) {
    /* top banner */
    .top-banner {
        font-size: .8rem;
    }

    /* navbar */
    .link-container a {
    font-size: .9rem;
    }


    /* hero section */
    .info-top-title {
        font-size: 2.5rem;
    }

    .info-top-p {
    font-size: 1rem;
    }

    .info-top-btn {
    width: 7.5rem;
    min-height: 2.5rem;
    font-size: .8rem;
    }

    .info-bottom-left-box i {
    font-size: 1.3rem;
    }

    .i-left-box-title {
    font-size: 1.5rem;
    }

    .i-left-box-p {
    font-size: .9rem;
    }

    .info-bottom-right-box i {
    font-size: 1.3rem;
    }

    .i-right-box-title {
    font-size: 1.5rem;
    }

    .i-right-box-p {
    font-size: .9rem;
    }

/* best product section */

    .best-product-top-subtitle {
    font-size: 1.4rem;
    }

    .best-product-top-title {
    font-size: 3rem;
    }

    .best-product-top-p {
    font-size: .9rem;
    }

    /* Imagen del medio */
    .bp-mid-img {
    width: 23rem;
    }

    .bp-left-container,
    .bp-right-container {
    display: grid;
    grid-template-rows: 1fr 1fr; /* 50% y 50% */
    height: 100%;
    width: 100%;
    gap: 1rem;
    }

    .bp-right-bottom-box i,
    .bp-right-top-box i,
    .bp-left-bottom-box i,
    .bp-left-top-box i {
    font-size: 1.3rem;
    }

    .bp-right-bottom-box-title,
    .bp-right-top-box-title,
    .bp-left-bottom-box-title,
    .bp-left-top-box-title {
    text-align: center;
    font-size: 1.5rem;
    }

    .bp-right-bottom-box-p,
    .bp-right-top-box-p,
    .bp-left-bottom-box-p,
    .bp-left-top-box-p {
    text-align: center;
    font-size: .9rem;
    }

    /* collection section */

    .collection-subtitle {
    font-size: 1.4rem;
    }

    .collection-title {
    font-size: 3rem;
    }    

    .collection-p {
    font-size: .9rem;
    }   

    /* collection container*/

    .collection-img-info-title {
    font-size: 1.5rem;
    letter-spacing: 3px;
    }

    .collection-img-info-p {
    font-size: .9rem;
    }

    .collection-img-info-btn {
    width: 6rem;
    min-height: 2rem;
    font-size: .8rem;
    }   

    /* collection products*/
    .collection-product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: .7rem;
    }

    .cp-name {
    font-size: 1.4rem;
    }

    .cp-price {
    font-size: 1.4rem;
    padding-left: 43%;
    }

    /* products section */
    .products-subtitle {
    font-size: 1.4rem;
    }

    .products-title {
    font-size: 3rem;
    }

    .products-p {
    font-size: .9rem;
    }

    .product-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: .7rem;
    }

    .p-name {
    font-size: 1.4rem;
    }

    .p-price {
    font-size: 1.4rem;
    padding-left: 43%;
    }

    /* footer */

    .footer-logo {
    font-size: 3rem;
    }

    .social-links a i {
    font-size: 1.5rem;
    }

    .footer-top-p {
    font-size: .9rem;
    }

    .footer-bottom {
        font-size: .8rem;
    }
}


@media (max-width: 1070px) {
    /* navbar */
    .link-container {
    gap: 1.3rem;
    }


    /* hero */

    .hero-img-container {
        display: none;
    }

    .hero-section {
        justify-content: center;
    }

    .hero-info-container {
        width: 100%;
    }

    .hero-info-container {
    background-image: url('./assets/img/hero.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    padding: 2rem;
    }

    .info-top-title {
        color: var(--white);
    }

    .info-top-p {
        color: #ffffffc2;
    }

    .info-bottom-right-box i,
    .info-bottom-left-box i {
    color: #bebebeec;
    }

    .i-right-box-title,
    .i-left-box-title {
        color: var(--white);
    }

    .i-right-box-p,
    .i-left-box-p {
        color: #ffffffc2;
    }

    .info-top-box,
    .info-bottom-left-box,
    .info-bottom-right-box {
        background: #3b3b3ba4;
    }


    /* best product */

        .best-product-bottom {
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 columnas para los box */
        grid-template-areas: 
            "left-top right-top"
            "mid-img mid-img"
            "left-bottom right-bottom";
        gap: 1rem;
        justify-items: center;
        align-items: center;
    }

    .bp-left-container,
    .bp-right-container {
        display: contents; /* eliminamos el contenedor como caja visual */
    }

    .bp-left-top-box {
        grid-area: left-top;
    }

    .bp-right-top-box {
        grid-area: right-top;
    }

    .bp-left-bottom-box {
        grid-area: left-bottom;
    }

    .bp-right-bottom-box {
        grid-area: right-bottom;
    }

    .bp-mid-img {
        grid-area: mid-img;
        width: 100%;
        height: 19rem;
        transform: rotate(0deg); /* opcional: enderezar en móviles */
    }


    /* collection */

    .collection-p {
    width: 70%;
    }

    .collection-container {
    height: 70rem;
    display: flex;
    flex-direction: column; /* para poner imagen arriba y productos abajo */
    width: 100%;
    gap: 2rem;
    padding: 2rem 0;
    }

    .collection-img {
    background-image: url('./assets/img/colection/colection.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    filter: grayscale(10);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem 0;
    }

    .collection-img-info {
    background: #3b3b3ba4;
    align-items: center;
    gap: 1rem;
    }

    .collection-img-info-title {
        text-align: center;
    }

    .collection-img-info-p {
        text-align: center;
    }

    .collection-products-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 productos en 1 fila */
    gap: 1.5rem;
    padding: 0 0rem;
    }

    /* products */

    .products-p {
        width: 70%;
    }

    .products-container {
    grid-template-columns: repeat(2, 1fr);
}

/* footer */

.footer-top-p {
    width: 70%;
}

}


@media (max-width: 650px) {

    body {
    padding: 1.5rem 1.5rem;
}
    /* top banner */
    .top-banner {
        font-size: .7rem;
    }

    /* nav-bar */

    .link-container {
    gap: 1rem;
    }

    .link-container a {
        font-size: .7rem;
    }

    .nav-logo {
        font-size: 1.3rem;
    }

    .nav-icons i {
        font-size: 1.1rem;
    }

    /* hero */

    .info-top-title {
        font-size: 1.3rem;
        text-align: center;
    }

    .info-top-p {
    font-size: .7rem;
    text-align: center;
    }

    .info-top-btn {
    width: 6rem;
    min-height: 1.8rem;
    font-size: .6rem;
    }

    .info-bottom-left-box i {
    font-size: .9rem;
    }

    .i-left-box-title {
    font-size: 1rem;
    text-align: center;
    }

    .i-left-box-p {
    font-size: .6rem;
    text-align: center;
    }

    .info-bottom-right-box i {
    font-size: .9rem;
    }

    .i-right-box-title {
    font-size: 1rem;
    }

    .i-right-box-p {
    font-size: .6rem;
    }

    .info-top-box,
    .info-bottom-left-box,
    .info-bottom-right-box {
        align-items: center;
    }

    /* best product section */

    .best-product-top-subtitle {
    font-size: .8rem;
    }

    .best-product-top-title {
    font-size: 1.9rem;
    }

    .best-product-top-p {
    font-size: .7rem;
    }

    .bp-right-bottom-box i,
    .bp-right-top-box i,
    .bp-left-bottom-box i,
    .bp-left-top-box i {
    font-size: .9rem;
    }

    .bp-right-bottom-box-title,
    .bp-right-top-box-title,
    .bp-left-bottom-box-title,
    .bp-left-top-box-title {
    text-align: center;
    font-size: 1rem;
    }

    .bp-right-bottom-box-p,
    .bp-right-top-box-p,
    .bp-left-bottom-box-p,
    .bp-left-top-box-p {
    text-align: center;
    font-size: .7rem;
    }


     /* collection section */

     .collection-p {
        width: 82%;
     }

    .collection-subtitle {
    font-size: .8rem;
    }

    .collection-title {
    font-size: 1.9rem;
    }    

    .collection-p {
    font-size: .7rem;
    }   

    /* collection container*/

    .collection-img-info-title {
    font-size: 1rem;
    letter-spacing: 3px;
    }

    .collection-img-info-p {
    font-size: .7rem;
    letter-spacing: 1px;
    }

    .collection-img-info-btn {
    width: 5rem;
    min-height: 1.8rem;
    font-size: .8rem;
    }   

    /* collection products*/
    .collection-product-name {
    gap: .5rem;
    }

    .cp-name {
    font-size: 1rem;
    }

    .cp-price {
    font-size: 1.2rem;
    padding-left: 43%;
    }

    .collection-product-img {
    height: 12rem;
    }

    .collection-product-img img {
    height: 12rem;
    }

    /* products */

    .products-subtitle {
    font-size: .8rem;
    }

    .products-title {
        font-size: 1.9rem;
    }

    .products-p {
        font-size: .7rem;
        width: 85%;
    }

    .product-img {
        height: 12rem;
    }

    .product-img img {
        height: 10rem;
    }

    .p-name {
        font-size: 1rem;
    }

    .p-price {
        font-size: 1.2rem;
    }


    /* footer */

     
    .footer-logo {
    font-size: 2rem;
    }

    .social-links a i {
    font-size: 1rem;
    }

    .footer-top-p {
    font-size: .7rem;
    width: 70%;
    }

    .footer-bottom {
        font-size: .8rem;
    }   

}


@media (max-width: 570px) {

    
    body {
    padding: .8rem .8rem;
    }

    .web-container {
        padding: .8rem;
    }


    .top-banner {
        padding: .8rem;
        font-size: .5rem;
    }


    /* navbar */

    .nav-logo { 
        font-size: 1rem;
    }

        .link-container a {
        font-size: .5rem;
    }

    .nav-icons i {
        font-size: 1rem;
    }


       /* hero */
    .hero-info-container {
        padding: .8rem 1rem;
    }

    .info-top-title {
        font-size: 1rem;
        text-align: center;
    }

    .info-top-p {
    font-size: .5rem;
    text-align: center;
    }

    .info-top-btn {
    width: 6rem;
    min-height: 1.8rem;
    font-size: .6rem;
    }

    .info-bottom-left-box i {
    font-size: .9rem;
    }

    .i-left-box-title {
    font-size: .8rem;
    text-align: center;
    }

    .i-left-box-p {
    font-size: .5rem;
    text-align: center;
    }

    .info-bottom-right-box i {
    font-size: .9rem;
    }

    .i-right-box-title {
    font-size: .8rem;
    }

    .i-right-box-p {
    font-size: .6rem;
    text-align: center;
    }

    .info-top-box,
    .info-bottom-left-box,
    .info-bottom-right-box {
        align-items: center;
    }

    .info-bottom-right-box {
        min-width: 10rem;
    }

     /* best product section */

     .best-product-section {
        padding: 0;
     }

    .best-product-top-subtitle {
    font-size: .7rem;
    }

    .best-product-top-title {
    font-size: 1.2rem;
    }

    .best-product-top-p {
    font-size: .5rem;
    }

    .bp-right-bottom-box i,
    .bp-right-top-box i,
    .bp-left-bottom-box i,
    .bp-left-top-box i {
    font-size: .9rem;
    }

    .bp-right-bottom-box-title,
    .bp-right-top-box-title,
    .bp-left-bottom-box-title,
    .bp-left-top-box-title {
    text-align: center;
    font-size: .7rem;
    }

    .bp-right-bottom-box-p,
    .bp-right-top-box-p,
    .bp-left-bottom-box-p,
    .bp-left-top-box-p {
    text-align: center;
    font-size: .5rem;
    }

    .bp-left-bottom-box,
    .bp-right-bottom-box,
    .bp-left-top-box,
    .bp-right-top-box {
        padding: 1rem 1rem;
        min-height: 10rem;
    }

    .bp-mid-img {
    height: 10rem;
    transform: rotate(0deg); /* opcional: enderezar en móviles */
    }

    .best-product-bottom {
        gap: 5px;
    }

    /* collection sect */

    .collection-section {
        padding: 0;
    }

    .collection-p {
        width: 82%;
     }

    .collection-subtitle {
    font-size: .7rem;
    }

    .collection-title {
    font-size: 1rem;
    }    

    .collection-p {
    font-size: .5rem;
    }   

    /* collection container*/

    .collection-container {
        height: 62rem;
    }

    .collection-img-info-title {
    font-size: 1rem;
    letter-spacing: 3px;
    }

    .collection-img-info-p {
    font-size: .5rem;
    letter-spacing: 1px;
    }

    .collection-img-info-btn {
    width: 5rem;
    min-height: 1.8rem;
    font-size: .5rem;
    }   

    /* collection products*/


    .collection-products-container{
    gap: 5px;
    }

    .collection-product-name {
    gap: .5rem;
    }

    .cp-name {
    font-size: 1rem;
    }

    .cp-price {
    font-size: 1.2rem;
    padding-left: 43%;
    }

    .collection-product-img {
    height: 12rem;
    }

    .collection-product-img img {
    height: 12rem;
    }


    /* products */

    .products-section {
        padding: 0;
        padding-bottom: 1rem;
    }

    .products-subtitle {
    font-size: .7rem;
    }

    .products-title {
        font-size: 1rem;
    }

    .products-p {
        font-size: .5rem;
        width: 80%;
    }

    .products-container {
        gap: 5px;
    }

    .product-img {
        height: 12rem;
    }

    .product-img img {
        height: 12rem;
    }

    .p-name {
        font-size: 1rem;
    }

    .p-price {
        font-size: 1.2rem;
    }

}


@media (max-width: 470px) {

body {
    padding: 0;
}

.web-container {
    border-radius: 0;
}

/* nav-bar */

.navbar {
    padding: 2rem 5px;
}

.link-container {
    gap: 6px;
}

/* hero */

.hero-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.info-bottom-left-box,
.info-bottom-right-box {
    min-width: 100%;
}

.footer-logo {
    font-size: 1.5rem;
}

.social-links {
    gap: 13px;
}

.footer-top-p {
    width: 80%;
    font-size: .5rem;
}


.footer-bottom {
    border-radius: 0;
}

.footer-bottom p {
    font-size: .7rem ;
    text-align: center;
}
}